@using myfinance_web_dotnet.Domain
<h1>Listagem de Transações Financeiras</h1>

<br /> 

<a asp-controller="Transacao" asp-action="Cadastro" class="btn btn-success">Registrar uma transação</a>

<br /><br /> 

<table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Histórico</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Data</th>
            <th>#</th>
            <th>#</th>
        </tr>

        @{
            foreach (var item in (List<Transacao>)ViewBag.Lista)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Historico</td>
                    <td>@item.PlanoConta.Tipo</td>
                    <td>@item.Valor</td>
                    <td>@item.Data</td>
                    <td><button type="button" class="btn btn-warning" onclick="Editar(@item.Id)">Editar</button></td>
                    <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.Id)">Excluir</button></td>
                </tr>
            }
        }
    </table>

    <script>
        function Excluir(id) {
            if (confirm("Deseja realmente excluir?")) {
                window.location.href = "/Transacao/Excluir/" + id;
            }
        }

        function Editar(id) {
            window.location.href = "/Transacao/Cadastro/" + id;
        }
    </script>